{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AI_Cook - Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/background.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/loginform.css' %}">
    {% comment %} https://codepen.io/AMostafaH/pen/Bajgygp {% endcomment %}
  </head>
  <body>
    <div class="background_image"></div>
    <div class="log">
  

    <h2>Welcome Back</h2>
    <form action="{% url 'ImageUpload:todayFood' %}">
      <div class="input-cont">
        <input type="text">
        <label>Username</label>
        <div class="border1"></div>
      </div>
      <div class="input-cont">
        <input type="password">
        <label>Password</label>
        <div class="border2"></div>
      </div>
      <div class="input-cont">
        <input type="text">
        <label>키</label>
        <div class="border2"></div>
      </div>
      <div class="input-cont">
        <input type="text">
        <label>몸무게</label>
        <div class="border2"></div>
      </div>
      <div class="input-cont">
        <input name='po' type="radio">
        <input name='po' type="radio">
        <input name='po' type="radio">
        <label>신체활동지표</label>
        <div class="border2"></div>
      </div>
      <span class="check">
        <input type="checkbox"> <label>Remember Me</label>
      </span>
      <a href="#">Forgot Password</a>
      <div class="clear"></div>
      <input type="submit"  value="Sign In">   
    </form>
</div>
  </body>
</html>
