{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodDetail</title>

    <link rel="stylesheet" type="text/css" href="{% static 'ImageUpload/uploadPhoto.css' %}">
</head>
<body>
    <span>업로더: {{ food.user.username }}</span>
    <span>사진: <img class='upload-photo' src="{{ food.photo.url }}"></span>
    <span>이미지 라벨(이름화??): {{ food.imageIdx }}</span>
    <span>이미지 업로드 타임: {{ food.uploaded }}</span>
</body>
</html>