{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodDetail</title>

    <link rel="stylesheet" type="text/css" href="{% static 'ImageUpload/uploadPhoto.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        body{
            padding-left:300px;
        }
    </style>
</head>
<body>

    {% comment %} <span>업로더: {{ food.user.username }}</span> {% endcomment %}
    <p><img class='upload-photo' src="{{ food.photo.url }}"></p>
    
    <p>{{ food.imageIdx|return_name_meal }}</p>
    <span>{{ food.uploaded }}</span>
    <p>칼로리:{{nut.cal}}</p>
    <p>탄수화물:{{nut.car}}</p>
    <p>단백질:{{nut.pro}}</p>
    <p>지방:{{nut.fat}}</p>
    <p>나트륨:{{nut.nat}}</p>
    

    <button class="btn btn-primary" type="button" onclick="location.href='{% url 'ImageUpload:todayFood' %}'">홈으로</button>

</body>
</html>