{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" type="text/css" href="{% static 'ImageUpload/today.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        .recommendedMeal{
            width: 150px;
            height:150px;
        }
    </style>

</head>

<body>
    추천 받은 음식들
    
    <div class="container">
        <div class="row">
            {% for meal, price in recommendMeals %}
            <div class="col-sm">
            <p> {{meal|return_name_haksik}}</p>
            {% with meal|stringformat:"s" as mealStr %}
                <img class="recommendedMeal"src="{% static 'images/'|add:mealStr|add:'.jpg' %}" />
                <p>가격:{{price}}</p>
                <p>가격:{{price}}</p>
            {% endwith %}
            </div>
            {% endfor %}
        </div>
    </div>
    
    {% comment %} <button type="button" action="{% url 'uploadForm' %}" >업로드</button> {% endcomment %}
</body>
</html>